body {
    background-color: #e6f2ff;
    font-family: 'Gill Sans', sans-serif;
}

footer {
height: 20px;
}

header {
    text-align: right;
}

p {
    font-size: 1.1em;
}

ul {
    font-size: 1.1em;
}

.matthew {
    width: 288px;
    height: 285.4px;
}

.showcase {
    width: 479.25px;
    height: 229.25px;
}

img {
    border: 5px solid darkgray;
    margin-right: 10px;
}